*.o
*.a
*.so
*.log
*.trs
*.swp
*.swo
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
doc/Makefile
doc/Makefile.in
doc/zproto.7
doc/zproto_example.3
libtool
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/core
src/libzproto.la
src/libzproto.pc
src/platform.h
src/platform.h.in
src/stamp-h1
src/zproto_example.lo
src/zproto_selftest
src/platform.h.in~
src/test-suite.log
src/zproto_selftest.log
src/zproto_selftest.trs
