*.o
*.a
*.so
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
doc/Makefile
doc/Makefile.in
libtool
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/core
src/platform.h
src/platform.h.in
src/stamp-h1
doc/myproj.7
doc/myproj_msg.3
src/libmyproj.la
src/libmyproj.pc
src/myproj_msg.lo
src/myproj_selftest
src/platform.h.in~

