<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "false"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false"
    syntaxCheck                 = "true"
    bootstrap                   = "vendor/autoload.php"
    >

    <testsuites>
        <testsuite name="Zproto Example Protocol Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

</phpunit>
